@use '../../app/globalvars.scss' as *;

.navbar {
  display: flex;
  align-items: center;
  height: 57px;
  background-color: $global-dark-gray;
  border-bottom: 3px solid $global-light-gray;
  font-weight: bold;
  padding-inline: 20px;

  .navbar-logo {
    font-size: 20px;
    margin-right: auto;
  }

  .navbar-margin-right {
    margin-right: 10px;
  }
}
