@use '../../app/globalvars.scss' as *;

.sidebar-container {
  min-height: calc(100vh - 60px);
  min-width: 197px;
  text-align: center;
  background-color: $global-dark-gray;
  border-right: 3px solid $global-light-gray;
  font-weight: bold;

  .sidebar-content {
    padding: 20px;
  }
}
