@use "../../variables" as *;

.login-container {
    max-width: fit-content;
    margin-inline: auto;

    .login-content {
        padding: 20px;
        border: 2px solid black;
        border-radius: 8px;
        margin-bottom: 20px;

        .login-title {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
        }
        
        > div {
            margin-bottom: 12px;
        }

        .login-form-error {
            color: $global-error-color;
            font-size: 14px;
            margin-top: 7px;
            max-width: 260px;
        }

        button {
            width: 260px;
        }
    }    
}
