.gameposts-post-container {
    background-color: rgb(53, 53, 53);
    box-shadow: 0 0 20px 3px rgb(19, 19, 19);
    border-radius: 5px;
    padding: 15px;
}

.gameposts-post-content {
    font-size: 22px;
}

.gameposts-post-line {
    border: 1px solid rgb(83, 83, 83);
    border-radius: 3px;
    margin: 15px 0 10px 0;
}

.gameposts-post-date {
    font-size: 15px;
}
