.gameabout-container {
  display: flex;
  gap: 12px;
  font-size: 18px;

  img {
    width: calc(50% - 6px);
    border-radius: 5px;
    box-shadow: 0 0 15px 1px rgb(26, 26, 26);
  }

  .gameabout-properties {
    border: 2px solid rgb(73, 73, 73);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px 1px rgb(26, 26, 26);

    > :nth-child(-n + 4) {
      margin-bottom: 40px;
    }

    .gameabout-subheader {
      font-size: 15px;
      margin-bottom: 8px;
    }

    .gameabout-subheader-developer {
      display: flex;
      align-items: center;

      img {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: white;
        padding: 5px;
        margin-right: 6px;
      }
    }
  }

  .gameabout-description {
    font-size: 22px;
  }
}
