@use 'variables' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 57px;
  border-bottom: 3px solid $global-light-gray;
  background-color: $global-dark-gray;
  font-weight: bold;
  padding-inline: 20px;

  .header-logo {
    font-size: 20px;
  }

  .header-links {
    display: flex;

    :nth-child(2) {
      margin-left: 10px;
    }

    > a {
      background-color: rgb(56, 56, 56);
      color: white;
      border: unset;
      cursor: pointer;
      padding: 10px 15px;
      border-radius: 8px;

      &:hover {
        background-color: rgb(65, 65, 65);
      }

      &:active {
        background-color: rgb(71, 71, 71);
      }
    }
  }
}
