@use "../../app/global.scss" as *;

.create-container {
    max-width: fit-content;
    margin-inline: auto;

    .create-content {
        padding: 20px;
        border: 2px solid black;
        border-radius: 8px;
        margin-bottom: 20px;

        .create-title {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
        }
        
        > div {
            margin-bottom: 12px;
        }

        .create-form-error {
            color: $global-error-color;
            font-size: 14px;
            margin-top: 7px;
            max-width: 260px;
        }

        button {
            width: 260px;
        }
    }    
}

.game-title {
    font-size: 35px;
    margin-bottom: 20px;
}

.game-properties {
    > :nth-child(-n+4) {
        margin-bottom: 10px;
    }

    > div > button {
        &:nth-child(1) {
            margin-right: 10px;
        }
    }
}

.update-container {
    max-width: fit-content;
    margin-inline: auto;

    .update-content {
        padding: 20px;
        border: 2px solid black;
        border-radius: 8px;
        margin-bottom: 20px;

        .update-title {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
        }
        
        > div {
            margin-bottom: 12px;
        }

        .update-form-error {
            color: $global-error-color;
            font-size: 14px;
            margin-top: 7px;
            max-width: 260px;
        }

        button {
            width: 260px;
        }

        .update-delete-button {
            background-color: $global-error-color;
        }
    }    
}
