@use '../app/globalvars.scss' as *;

body {
  margin: 0;
  color: white;
  background-color: $global-dark-gray;
  font-family: 'Commissioner', sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

.global-error {
  color: $global-error-color;
}
