@use "../../variables" as *;

.api-error-container {
    max-width: fit-content;
    margin-inline: auto;
    text-align: center;

    > :nth-child(1) {
        font-size: 35px;
        font-weight: bold;
        color: $global-error-color;
        margin-bottom: 8px;
    }

    > :nth-child(2) {
        margin-bottom: 8px;
    }
}
