@use '../../../../app/globalvars.scss' as *;

.create-container {
  max-width: fit-content;
  margin-inline: auto;

  .create-content {
    background-color: $global-dark-gray;
    padding: 20px;
    border: 3px solid $global-light-gray;
    border-radius: 8px;
    margin-bottom: 20px;

    .create-title {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
    }

    > div {
      margin-bottom: 12px;
    }

    .create-input {
      background-color: rgb(218, 218, 218);
      font-size: 15px;
      height: 25px;
      width: 500px;
      border: unset;
      border-radius: 4px;
      padding-left: 5px;
    }

    .create-textarea {
      background-color: rgb(218, 218, 218);
      font-size: 15px;
      height: 100px;
      width: 500px;
      border: unset;
      border-radius: 4px;
      padding-left: 5px;
    }

    .create-error {
      color: $global-error-color;
      font-size: 14px;
      margin-top: 7px;
      max-width: 260px;
    }

    > :last-child {
      width: 100%;
    }
  }
}
