@use '../../../../app/globalvars.scss' as *;

.game-title {
  font-size: 35px;
  margin-bottom: 20px;
  max-width: fit-content;
  margin-inline: auto;
  background-color: rgb(46, 46, 46);
  box-shadow: 0 0 15px 1px rgb(26, 26, 26);
  padding: 10px 20px;
  border-radius: 10px;
}

.game-nav-container {
  display: flex;
  width: 100%;
  margin-top: 20px;
  gap: 10px;

  > button {
    width: 25%;

    .active {
      background-color: rgb(71, 71, 71);
    }
  }
}

.game-component-container {
  margin-top: 20px;
}
