@use '../../../../app/globalvars.scss' as *;

.update-container {
  max-width: fit-content;
  margin-inline: auto;

  .update-content {
    background-color: $global-dark-gray;
    padding: 20px;
    border: 3px solid $global-light-gray;
    border-radius: 8px;
    margin-bottom: 20px;

    .update-title {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
    }

    > div {
      margin-bottom: 12px;
    }

    .update-input {
      background-color: rgb(235, 235, 235);
      font-size: 15px;
      height: 30px;
      width: 500px;
      border: unset;
      border-radius: 4px;
      padding-left: 10px;
      font-family: 'Commissioner', sans-serif;

      &:focus {
        outline: rgb(117, 172, 255) solid 2px;
      }
    }

    .update-textarea {
      background-color: rgb(235, 235, 235);
      font-size: 15px;
      height: 100px;
      min-width: 500px;
      max-width: 500px;
      border: unset;
      border-radius: 4px;
      padding: 5px;
      font-family: 'Commissioner', sans-serif;

      &:focus {
        outline: rgb(117, 172, 255) solid 2px;
      }
    }

    .update-error {
      color: $global-error-color;
      font-size: 14px;
      margin-top: 7px;
      max-width: 260px;
    }

    > :nth-child(6) {
      width: 100%;
      margin-bottom: 12px;
    }

    > :nth-child(7) {
      background-color: $global-error-color;
      width: 100%;
    }
  }
}
