.button {
  all: unset;
  cursor: pointer;
  background-color: rgb(56, 56, 56);
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 0 15px 1px rgb(26, 26, 26);

  &:hover {
    background-color: rgb(65, 65, 65);
  }

  &:active {
    background-color: rgb(71, 71, 71);
  }
}

.active {
  background-color: rgb(71, 71, 71);
}
