@use 'variables' as *;

.sidebar-container {
  min-height: calc(100vh - 60px); // 60px is the height of the navbar
  min-width: 197px;
  border-right: 3px solid $global-light-gray;
  background-color: $global-dark-gray;
  text-align: center;
  font-weight: bold;

  .sidebar-content {
    padding: 20px;

    .sidebar-links {
      > a {
        display: block;
        background-color: rgb(56, 56, 56);
        color: white;
        border: unset;
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 8px;

        &:hover {
          background-color: rgb(65, 65, 65);
        }

        &:active {
          background-color: rgb(71, 71, 71);
        }
      }
    }
  }
}
