.profile-username {
  font-size: 50px;
  margin-bottom: 15px;
}

.profile-bio {
  font-size: 17px;
  margin-bottom: 20px;
}

.profile-update {
  margin-right: 10px;
}

.profile-games-title {
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 18px;
}

.profile-games-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
