@use "../global.scss" as *;

nav {
    display: flex;
    align-items: center;
    height: 57px;
    background-color: $global-dark-gray;
    border-bottom: 3px solid $global-border-color;
    font-weight: bold;
    padding-inline: 20px;

    .navbar-logo {
        font-size: 20px;
        margin-right: auto;
    }

    div {
        :nth-child(2) {
            margin-left: 10px;
        }
    }
}

.layout-container {
    display: flex;
}

.sidebar-container {
    min-height: calc(100vh - 60px);
    min-width: 197px;
    text-align: center;
    background-color: $global-dark-gray;
    border-right: 3px solid $global-border-color;
    font-weight: bold;

    .sidebar-content {
        padding: 20px;

        .sidebar-button {
            display: block;
        }
    }
}

main {
    background: linear-gradient($global-dark-gray, $global-light-gray);
    padding: 20px;
    width: 100%;
}
